.scale {
  transition: all 0.3s ease-out;
}

.scale:hover:not(:disabled) {
  scale: 1.05;
}

.scale:active:not(:disabled) {
  scale: 0.95;
}

.scrollbar::-webkit-scrollbar {
  width: "4px" !important;
}
.scrollbar::-webkit-scrollbar-track {
  width: "6px" !important;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: "100px" !important;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  visibility: visible !important;
}
